@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-black-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-black-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-black-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-black-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-black-webfont.svg#corpid_c1sblack') format('svg');
	font-weight: 800;
	font-style: normal;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-blackitalic-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-blackitalic-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-blackitalic-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-blackitalic-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-blackitalic-webfont.svg#corpid_c1sblack_italic') format('svg');
	font-weight: 800;
	font-style: italic;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-bold-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-bold-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-bold-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-bold-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-bold-webfont.svg#corpid_c1sbold') format('svg');
	font-weight: 700;
	font-style: normal;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-bolditalic-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-bolditalic-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-bolditalic-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-bolditalic-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-bolditalic-webfont.svg#corpid_c1sbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-heavy-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-heavy-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-heavy-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-heavy-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-heavy-webfont.svg#corpid_c1sheavy') format('svg');
	font-weight: 900;
	font-style: normal;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-heavyitalic-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-heavyitalic-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-heavyitalic-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-heavyitalic-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-heavyitalic-webfont.svg#corpid_c1sheavy_italic') format('svg');
	font-weight: 900;
	font-style: italic;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-light-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-light-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-light-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-light-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-light-webfont.svg#corpid_c1slight') format('svg');
	font-weight: 300;
	font-style: normal;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-lightitalic-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-lightitalic-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-lightitalic-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-lightitalic-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-lightitalic-webfont.svg#corpid_c1slight_italic') format('svg');
	font-weight: 300;
	font-style: italic;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-regular-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-regular-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-regular-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-regular-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-regular-webfont.svg#corpid_c1s_regularregular') format('svg');
	font-weight: 400;
	font-style: normal;

}




@font-face {
	font-family: 'Corpid';
	src: url('../fonts/corpid/corpidc1s-regularitalic-webfont.eot');
	src: url('../fonts/corpid/corpidc1s-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1s-regularitalic-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1s-regularitalic-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1s-regularitalic-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1s-regularitalic-webfont.svg#corpid_c1sregular_italic') format('svg');
	font-weight: 400;
	font-style: italic;

}




@font-face {
	font-family: 'Corpid Cond';
	src: url('../fonts/corpid/corpidc1scd-black-webfont.eot');
	src: url('../fonts/corpid/corpidc1scd-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1scd-black-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1scd-black-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1scd-black-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1scd-black-webfont.svg#corpid_c1s_cdblack') format('svg');
	font-weight: 800;
	font-style: normal;

}




@font-face {
	font-family: 'Corpid Cond';
	src: url('../fonts/corpid/corpidc1scd-blackitalic-webfont.eot');
	src: url('../fonts/corpid/corpidc1scd-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/corpid/corpidc1scd-blackitalic-webfont.woff2') format('woff2'),
	url('../fonts/corpid/corpidc1scd-blackitalic-webfont.woff') format('woff'),
	url('../fonts/corpid/corpidc1scd-blackitalic-webfont.ttf') format('truetype'),
	url('../fonts/corpid/corpidc1scd-blackitalic-webfont.svg#corpid_c1s_cdblack_italic') format('svg');
	font-weight: 800;
	font-style: italic;

}