
$footer-color: #45233e;
$footer-border: #52304b;
$fb-icon: #235a9a;
$gplus-icon: #ce4437;
$twit-icon: #00adf1;
$pinterest-icon:#e41616;

// Fonts
$lato-font: 'Lato', sans-serif;
$corpid-font: 'Corpid', sans-serif;
$corpidCond-fond: 'Corpid Cond', sans-serif;

$main-yellow: #ffc614;
$gray-bg: #f7f8fc;
$gray-icon: #c5c6c8;

$border-circle: #807f7d;

$lead-text: #9BA3A5;

// Post Section
$main-blue: #2e5e86;
$box-gray: #e7e9eb;
$date-border: #838181;
$tags-color: #95a5a6;

// Pagination
$pag-inactive: #bdc3c7;
$pag-active: #222222;
$pag-hover: #ffc614;

// Single Post
$content-gray: #868686;
$content-excerpt: #95a5a6;